### Specific to building Armbian ###
/.vagrant/
ubuntu-*-cloudimg-console.log

### to ignore changes in a working copy
.ignore_changes

### compile configurations added by users
/config-*.conf
### but not default (supplied) files
!/config-docker.conf
!/config-vagrant.conf

### output directories
/.tmp/
/output/
/cache/
#/*userpatches*/
#/userpatches
/userpatches/Dockerfile
/userpatches/README
/userpatches/Vagrantfile
/userpatches/config-docker.conf
/userpatches/config-example.conf
/userpatches/config-vagrant.conf
/userpatches/customize-image.sh

### General annoyances ###
.DS_Store
